@import '~theme/variables'
@import '~theme/mixins'

height = 1.3em

.tmux-bar
  display flex
  flex 1 100%

  color #333
  height height
  line-height height
  background-color #444

  .left, .middle, .right
    display flex

  .left, .right
    width 50%

  .right
    justify-content flex-end

    > .day
      color #AFD787
      margin-right $spacing

    .date
      &:before
        arrow(left, (height / 2), #3A3A3A, #444)
      .month, .day
        margin-right $spacing
      .year
        margin-right ($spacing * 1.5)
      .month
        margin-left $spacing
      .day
        &:after
          content ','
      color #b1b1b1
      display flex
      padding-right ($spacing * 1.5)
      background-color #3A3A3A
      .time
        padding-left ($spacing * 2.5)
        position relative
        &:before
          height $line-height
          position absolute
          left 0.1em
          bottom 0.1em
          z-index 2
          arrow(left, (height / 2.35), #3A3A3A)
        &:after
          arrow(left, (height / 2), #b1b1b1, #3A3A3A)
          z-index 1
          left 0px
          bottom 0px
          position absolute

    .browser
      display flex
      background-color #AFD787
      &:before
        arrow(left, (height / 2), #AFD787, #3A3A3A)

      .name, .version
        margin-right $spacing

  .title
    display flex
    width auto
    background-color #AFD787
    padding-left $spacing
    &::after
      arrow(right, (height / 2), #AFD787, #3A3A3A)
      margin-left $spacing

  .page
    display flex
    background-color #3A3A3A
    padding-left $spacing
    color #b1b1b1
    &::after
      arrow(right, (height / 2), #3A3A3A, #444)
      margin-left $spacing
