.tmux-bar
  .left
    .title cj.io
    .page Home
  .right
    .day {{ dayWord }}
    .date
      .month {{ month }}
      .day {{ day }}
      .year {{ year }}
      .time {{ time }}
    .browser
      .name {{ browser.name }}
      .version {{ browser.version }}
