@import '~theme'

#app
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display flex
  flex-flow row wrap

  > .content
    display flex
    // padding $spacing
    height 100%
    width (100% - 15em) + $spacing

    #app__gutter
      height 100%
      width 3em
      text-align right

      pre
        line-height 0
        counter-reset line
        margin $spacing 0 0 0
        padding 0

        span
          display block
          line-height $font-size + ($spacing / 2)

          &:before
            counter-increment line
            content counter(line)
            display inline-block
            padding 0 $spacing
            margin-right $spacing
            color #4E4E4E
