.navigation
  .folder /home/cj/apps/cj.io/
  ul
    li
      a(href='/') Home
    li
      a(href='/') About
    li.nested.active
      a(href='/') Blog
      ul
        li
          a(href='/') somepost

