browser(browsers = Mozilla)
  for browser in browsers
    html[data-browser*={browser}] &
      {block}

arrow(direction = right, size = 0.25em, foreground-color = #dad085, background-color = transparent)
  content ''
  display inline-block
  width 0
  height auto
  border-style solid;

  if direction == right
    border-width size 0 size size
    border-color background-color background-color background-color foreground-color

  if direction == down
    border-width size size 0 size
    border-color foreground-color background-color background-color background-color
